@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family:"Outfit",sans-serif;
    font-size: 15px;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.container{
    max-width: 360px;
    margin: 0 auto;
}

.card img{
    width: 100%;
    border-radius: 12px;
}

.card{
    background-color: hsl(0, 0%, 100%);
    padding: 18px;
    border-radius: 17px;
    margin: 0 1em;
}

.text{
    padding: 20px 10px;
}
.text h2{
    font-weight: 700;
    color: hsl(218, 44%, 22%);
    text-align: center;
    padding-bottom: 15px;
}

.text p{
    font-weight: 300;
    color: hsl(220, 15%, 55%);
    text-align: center;
}